openapi: 3.0.0
info:
  title: EVCharge 充电站应用 API
  description: 电动汽车充电站预约和管理应用的完整 API 接口文档
  version: 1.0.0
  contact:
    name: EVCharge API Support
    email: api@evcharge.com
    
servers:
  - url: https://api.evcharge.com/api/v1
    description: 生产环境
  - url: https://staging-api.evcharge.com/api/v1
    description: 测试环境
    
tags:
  - name: 充电签到
    description: 充电签到流程相关接口
  - name: 充电状态
    description: 充电状态管理相关接口
  - name: 预约管理
    description: 预约功能相关接口
  - name: 设施查找
    description: 充电站查找与筛选相关接口
  - name: 用户管理
    description: 用户信息和账户管理相关接口
  - name: 收据管理
    description: 收据生成和管理相关接口
  - name: 取消功能
    description: 预约取消相关接口

paths:
  # 充电签到流程
  /stations/available:
    get:
      tags:
        - 充电签到
      summary: 获取可用充电站
      description: 获取当前可用的充电站列表
      operationId: getAvailableStations
      parameters:
        - name: latitude
          in: query
          description: 用户当前纬度
          required: false
          schema:
            type: number
            format: double
        - name: longitude
          in: query
          description: 用户当前经度
          required: false
          schema:
            type: number
            format: double
      responses:
        '200':
          description: 成功返回充电站列表
          content:
            application/json:
              schema:
                type: object
                properties:
                  stations:
                    type: array
                    items:
                      $ref: '#/components/schemas/ChargingStation'
                  total:
                    type: integer
                    description: 总数量
                    
  /checkin/select-station:
    post:
      tags:
        - 充电签到
      summary: 选择充电站
      description: 用户选择特定充电站
      operationId: selectStation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - station_id
                - user_id
              properties:
                station_id:
                  type: string
                  description: 充电站ID
                user_id:
                  type: string
                  description: 用户ID
      responses:
        '200':
          description: 成功选择充电站
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  session_id:
                    type: string
                    description: 会话ID
                  next_step:
                    type: string
                    description: 下一步骤
                    
  /checkin/select-power:
    post:
      tags:
        - 充电签到
      summary: 选择输出功率
      description: 选择充电功率（6kW或3kW）
      operationId: selectPower
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - session_id
                - power_option
              properties:
                session_id:
                  type: string
                  description: 会话ID
                power_option:
                  type: string
                  enum: ['3kW', '6kW']
                  description: 功率选项
                price_per_15min:
                  type: number
                  format: decimal
                  description: 每15分钟价格
      responses:
        '200':
          description: 成功选择功率
          content:
            application/json:
              schema:
                type: object
                properties:
                  power_info:
                    $ref: '#/components/schemas/PowerInfo'
                  estimated_cost:
                    type: number
                    format: decimal
                    
  /checkin/summary/{session_id}:
    get:
      tags:
        - 充电签到
      summary: 获取充电摘要
      description: 获取充电前的确认信息摘要
      operationId: getChargingSummary
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 成功返回充电摘要
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargingSummary'
                
  /checkin/confirm:
    post:
      tags:
        - 充电签到
      summary: 确认充电
      description: 确认开始充电
      operationId: confirmCharging
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - session_id
                - user_confirmation
              properties:
                session_id:
                  type: string
                user_confirmation:
                  type: boolean
                payment_method:
                  type: string
                  enum: ['credit_card', 'ic_card', 'digital_wallet']
      responses:
        '200':
          description: 成功确认充电
          content:
            application/json:
              schema:
                type: object
                properties:
                  charging_id:
                    type: string
                  next_step:
                    type: string
                    
  /charging/start:
    post:
      tags:
        - 充电签到
      summary: 开始充电会话
      description: 实际开始充电
      operationId: startCharging
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - charging_id
                - station_id
              properties:
                charging_id:
                  type: string
                station_id:
                  type: string
                user_confirmation:
                  type: boolean
      responses:
        '200':
          description: 成功开始充电
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargingSession'
                
  # 充电状态管理
  /charging/status/{session_id}:
    get:
      tags:
        - 充电状态
      summary: 获取充电状态
      description: 获取当前充电状态信息
      operationId: getChargingStatus
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 成功返回充电状态
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargingStatus'
                
  /charging/terminate:
    post:
      tags:
        - 充电状态
      summary: 终止充电
      description: 用户主动终止充电
      operationId: terminateCharging
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - session_id
                - termination_type
                - confirm
              properties:
                session_id:
                  type: string
                termination_type:
                  type: string
                  enum: ['user_requested', 'emergency', 'completed']
                confirm:
                  type: boolean
      responses:
        '200':
          description: 成功终止充电
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TerminationResult'
                
  /charging/history:
    get:
      tags:
        - 充电状态
      summary: 获取充电历史
      description: 获取用户充电历史记录
      operationId: getChargingHistory
      parameters:
        - name: user_id
          in: query
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: 成功返回充电历史
          content:
            application/json:
              schema:
                type: object
                properties:
                  sessions:
                    type: array
                    items:
                      $ref: '#/components/schemas/ChargingHistory'
                  total:
                    type: integer
                    
  # 预约功能
  /reservations/hold:
    post:
      tags:
        - 预约管理
      summary: 创建预留
      description: 创建60分钟充电位预留
      operationId: createHold
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - station_id
                - user_id
              properties:
                station_id:
                  type: string
                user_id:
                  type: string
                duration_minutes:
                  type: integer
                  default: 60
                  maximum: 60
      responses:
        '200':
          description: 成功创建预留
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HoldReservation'
                
  /reservations/timeslot:
    post:
      tags:
        - 预约管理
      summary: 创建时间段预约
      description: 创建特定时间段的预约
      operationId: createTimeslotReservation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - station_id
                - date
                - start_time
                - end_time
                - power_option
                - user_id
              properties:
                station_id:
                  type: string
                date:
                  type: string
                  format: date
                start_time:
                  type: string
                  format: time
                end_time:
                  type: string
                  format: time
                power_option:
                  type: string
                  enum: ['3kW', '6kW']
                user_id:
                  type: string
      responses:
        '200':
          description: 成功创建预约
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeslotReservation'
                
  /reservations/all-day:
    post:
      tags:
        - 预约管理
      summary: 创建全天预约
      description: 创建全天预约
      operationId: createAllDayReservation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - station_id
                - date
                - power_option
                - user_id
              properties:
                station_id:
                  type: string
                date:
                  type: string
                  format: date
                power_option:
                  type: string
                  enum: ['3kW', '6kW']
                user_id:
                  type: string
      responses:
        '200':
          description: 成功创建全天预约
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllDayReservation'
                
  # 设施查找与筛选
  /stations/nearby:
    get:
      tags:
        - 设施查找
      summary: 获取附近充电站
      description: 获取指定位置附近的充电站
      operationId: getNearbyStations
      parameters:
        - name: latitude
          in: query
          required: true
          schema:
            type: number
            format: double
        - name: longitude
          in: query
          required: true
          schema:
            type: number
            format: double
        - name: radius
          in: query
          description: 搜索半径（米）
          schema:
            type: integer
            default: 5000
      responses:
        '200':
          description: 成功返回附近充电站
          content:
            application/json:
              schema:
                type: object
                properties:
                  stations:
                    type: array
                    items:
                      $ref: '#/components/schemas/NearbyStation'
                      
  /stations/{station_id}:
    get:
      tags:
        - 设施查找
      summary: 获取充电站详情
      description: 获取特定充电站的详细信息
      operationId: getStationDetails
      parameters:
        - name: station_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 成功返回充电站详情
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StationDetails'
                
  /stations/filter:
    post:
      tags:
        - 设施查找
      summary: 应用筛选条件
      description: 根据多个条件筛选充电站
      operationId: filterStations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilterCriteria'
      responses:
        '200':
          description: 成功返回筛选结果
          content:
            application/json:
              schema:
                type: object
                properties:
                  stations:
                    type: array
                    items:
                      $ref: '#/components/schemas/ChargingStation'
                  total:
                    type: integer
                    
  # 用户管理
  /user/profile:
    get:
      tags:
        - 用户管理
      summary: 获取用户信息
      description: 获取当前用户的个人信息
      operationId: getUserProfile
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 成功返回用户信息
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
                
  /user/usage-history:
    get:
      tags:
        - 用户管理
      summary: 获取使用记录
      description: 获取用户的充电使用历史
      operationId: getUsageHistory
      security:
        - bearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: start_date
          in: query
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: 成功返回使用记录
          content:
            application/json:
              schema:
                type: object
                properties:
                  records:
                    type: array
                    items:
                      $ref: '#/components/schemas/UsageRecord'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                    
  # 收据管理
  /receipts/generate:
    post:
      tags:
        - 收据管理
      summary: 生成收据
      description: 生成电子收据
      operationId: generateReceipt
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - session_id
              properties:
                session_id:
                  type: string
                recipient:
                  type: string
                  description: 收据抬头
                language:
                  type: string
                  enum: ['zh', 'ja', 'en']
                  default: 'zh'
                format:
                  type: string
                  enum: ['pdf', 'image']
                  default: 'pdf'
      responses:
        '200':
          description: 成功生成收据
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Receipt'
                
  # 取消功能
  /reservations/{reservation_id}/cancel:
    post:
      tags:
        - 取消功能
      summary: 取消预约
      description: 取消预约
      operationId: cancelReservation
      parameters:
        - name: reservation_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - cancellation_reason
                - confirm
              properties:
                cancellation_reason:
                  type: string
                confirm:
                  type: boolean
      responses:
        '200':
          description: 成功取消预约
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancellationResult'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      
  schemas:
    ChargingStation:
      type: object
      properties:
        station_id:
          type: string
        name:
          type: string
        type:
          type: string
          enum: ['A01', 'A02', 'B01', 'B02']
        power_options:
          type: array
          items:
            type: string
            enum: ['3kW', '6kW']
        price:
          type: object
          properties:
            per_15min_3kw:
              type: number
            per_15min_6kw:
              type: number
        cable_status:
          type: string
          enum: ['connected', 'disconnected']
        availability:
          type: string
          enum: ['available', 'occupied', 'reserved', 'maintenance']
          
    PowerInfo:
      type: object
      properties:
        selected_power:
          type: string
        price_per_15min:
          type: number
        estimated_charging_time:
          type: integer
          description: 预计充电时间（分钟）
          
    ChargingSummary:
      type: object
      properties:
        station_info:
          $ref: '#/components/schemas/ChargingStation'
        charging_details:
          type: object
          properties:
            power:
              type: string
            estimated_duration:
              type: integer
            estimated_cost:
              type: number
        terms_and_conditions:
          type: string
          
    ChargingSession:
      type: object
      properties:
        session_id:
          type: string
        charging_id:
          type: string
        start_time:
          type: string
          format: date-time
        station_id:
          type: string
        power:
          type: string
        status:
          type: string
          enum: ['initializing', 'charging', 'completed', 'terminated']
        barrier_status:
          type: string
          enum: ['closed', 'opening', 'open']
          
    ChargingStatus:
      type: object
      properties:
        session_id:
          type: string
        status:
          type: string
        remaining_time:
          type: integer
          description: 剩余时间（秒）
        progress_percentage:
          type: number
        current_power:
          type: number
          description: 当前功率（kW）
        total_energy:
          type: number
          description: 总能量（kWh）
        current_cost:
          type: number
          description: 当前费用
          
    TerminationResult:
      type: object
      properties:
        termination_time:
          type: string
          format: date-time
        final_duration:
          type: integer
          description: 最终时长（分钟）
        final_cost:
          type: number
        status:
          type: string
          
    ChargingHistory:
      type: object
      properties:
        session_id:
          type: string
        date:
          type: string
          format: date-time
        station_name:
          type: string
        duration:
          type: integer
        energy:
          type: number
        cost:
          type: number
        status:
          type: string
          
    HoldReservation:
      type: object
      properties:
        hold_id:
          type: string
        station_id:
          type: string
        start_time:
          type: string
          format: date-time
        end_time:
          type: string
          format: date-time
        cancellation_fee:
          type: number
          
    TimeslotReservation:
      type: object
      properties:
        reservation_id:
          type: string
        station_id:
          type: string
        date:
          type: string
          format: date
        start_time:
          type: string
          format: time
        end_time:
          type: string
          format: time
        power_option:
          type: string
        total_cost:
          type: number
          
    AllDayReservation:
      type: object
      properties:
        reservation_id:
          type: string
        station_id:
          type: string
        date:
          type: string
          format: date
        daily_fee:
          type: number
        cancellation_policy:
          type: string
          
    NearbyStation:
      type: object
      allOf:
        - $ref: '#/components/schemas/ChargingStation'
        - type: object
          properties:
            distance:
              type: number
              description: 距离（米）
            estimated_arrival_time:
              type: integer
              description: 预计到达时间（分钟）
              
    StationDetails:
      type: object
      allOf:
        - $ref: '#/components/schemas/ChargingStation'
        - type: object
          properties:
            address:
              type: string
            operating_hours:
              type: string
            chargers:
              type: array
              items:
                type: object
                properties:
                  charger_id:
                    type: string
                  type:
                    type: string
                  power:
                    type: string
                  status:
                    type: string
            facilities:
              type: array
              items:
                type: string
            photos:
              type: array
              items:
                type: string
                format: uri
            payment_methods:
              type: array
              items:
                type: string
                
    FilterCriteria:
      type: object
      properties:
        location:
          type: object
          properties:
            latitude:
              type: number
            longitude:
              type: number
            radius:
              type: integer
        charging_type:
          type: array
          items:
            type: string
            enum: ['fast_charging', 'standard_charging']
        usage_type:
          type: array
          items:
            type: string
            enum: ['immediate', 'reservation', 'hold', 'all_day']
        facility_type:
          type: array
          items:
            type: string
            enum: ['prago_charger', 'other_charger']
        power_options:
          type: array
          items:
            type: string
            enum: ['3kW', '6kW']
            
    UserProfile:
      type: object
      properties:
        user_id:
          type: string
        name:
          type: string
        email:
          type: string
        phone:
          type: string
        points:
          type: integer
        member_level:
          type: string
        registration_date:
          type: string
          format: date-time
        avatar_url:
          type: string
          format: uri
          
    UsageRecord:
      type: object
      properties:
        record_id:
          type: string
        date:
          type: string
          format: date-time
        station_name:
          type: string
        charging_type:
          type: string
        duration:
          type: integer
        energy:
          type: number
        cost:
          type: number
        receipt_available:
          type: boolean
          
    Pagination:
      type: object
      properties:
        current_page:
          type: integer
        total_pages:
          type: integer
        total_records:
          type: integer
        limit:
          type: integer
          
    Receipt:
      type: object
      properties:
        receipt_id:
          type: string
        download_url:
          type: string
          format: uri
        created_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
        metadata:
          type: object
          properties:
            session_id:
              type: string
            recipient:
              type: string
            format:
              type: string
              
    CancellationResult:
      type: object
      properties:
        cancellation_id:
          type: string
        status:
          type: string
          enum: ['cancelled', 'pending_refund', 'refunded']
        cancellation_fee:
          type: number
        refund_amount:
          type: number
        refund_status:
          type: string